html,
body {
   height: 100%;
   background-color: #333;
   font-family: 'Quicksand', sans-serif;
   color: white;
}
.b-a {
   transition: all .25s;
   content: "";
   position: absolute;
   left: 0;
   height: 6px;
   width: 30px;
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.95);
}
.menu-collapsed {
   transition: all .25s;
   position: fixed;
   top: 10px;
   left: 9px;
   height: 36px;
   width: 36px;
   z-index: 1;
   cursor: pointer;
}
.menu-collapsed ul {
   transition: all 0s;
   position: fixed;
   left: -9000px;
}
.bar {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
   position: fixed;
   left: 12px;
   top: 24px;
}
.bar:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
   top: -8px;
}
.bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
   top: 8px;
}
.b-a-expanded {
   transition: all .25s;
   top: -0px;
}
.menu-expanded {
   transition: all .25s;
   text-align: center;
   line-height: 200px;
   height: 100%;
   width: 100%;
   border-radius: 0px;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
   transition: all 0s;
   position: relative;
   left: 0;
   z-index: 2;
}
.menu-expanded  a {
   transition: all .15s;
   text-decoration: none;
   font-size: 2em;
   padding: 5px;
   color: #fff;
   display:block;
}
.menu-expanded  a:hover {
   background-color:rgba(white, .8);
   transition: all .15s;
   letter-spacing: 2px;
   color:#333;
   border: 1px solid rgba(255, 255, 255, .15);
}
.menu-expanded  .bar {
   background-color: transparent;
   transition: all .25s;
}
.menu-expanded .bar:before {
    transition: all .25s;
    top: -0px;
   transform: rotate(45deg);
}
.menu-expanded .bar:after {
    transition: all .25s;
    top: -0px;
   transform: rotate(-45deg);
}
.row {
   padding-top:150px;
}
h1 {
   font-size: 3em;
}
h3 {
   color:#999;
}
p {
   line-height: 160%;
   letter-spacing:1px;
}